# Environments
.env
.env.*
!.env.example
venv/
env/
.venv/

# Node
node_modules/
.next/
dist/
build/
.pnp.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db
